<body class="landing-page">
  <div class="landing-pic">
    <div class="picture">
      <img src="/assets/img/homepagepic.webp" alt="" />
    </div>

    <button class="button">Shop Now</button>
  </div>

  <div class="products">
    <div class="1">
      <a href="#">
        <img src="/assets/img/cap.png" alt="" />
      </a>
      <h2>Men's Jackets</h2>
      <a href="#">SHOP NOW</a>
    </div>

    <div class="2">
      <a href="#">
        <img src="/assets/img/girl.png" alt="" />
      </a>
      <h2>Women's Jackets</h2>
      <a href="#">SHOP NOW</a>
    </div>

    <div class="3">
      <a href="#">
        <img src="/assets/img/Accessories.png" alt="" />
      </a>
      <h2>Accessories</h2>
      <a href="#">SHOP NOW</a>
    </div>

    <div class="4">
      <a href="#">
        <img src="/assets/img/shoes.png" alt="" />
      </a>
      <h2>Footwear</h2>
      <a href="#">SHOP NOW</a>
    </div>
  </div>

  <div class="pic-text">
    <div class="pic">
      <img src="/assets/img/boot.webp" alt="" />
    </div>

    <div class="text">
      <div class="heading">Lunar New Year</div>

      <p class="pic-text-paragraph">
        As we welcome in the Year of the Snake, Barbour has released a capsule
        collection to celebrate the upcoming Lunar New Year. Discover must-have
        pieces inspired by Chinese tradition and festivities to take you through
        the year ahead. Featuring the statement colour red to symbolise success
        and good fortune, as well as our classic Barbour tartan, which draws
        inspiration from our rich country heritage.
      </p>

      <button class="pic-text-button">SHOP THE COLLECTION</button>
    </div>
  </div>

  <h2>Best Sellers</h2>

  <div class="best-seller">
    <div class="a">
      <img src="/assets/img/dog.png" alt="" />
      <h3>Classic Bedale</h3>

      <img
        class="color-tag"
        src="https://www.barbour.com/media/catalog/product/cache/202dfe5190c1c47d8d8e0d6e12839a01/L/R/LRF0066OL11_CARRYFORWARD_swatch_1.jpg"
        alt=""
      />
    </div>

    <div class="b">
      <img src="/assets/img/cap.png" alt="" />
      <h3>Classic Beadnell</h3>

      <img
        class="color-tag"
        src="https://www.barbour.com/media/catalog/product/cache/202dfe5190c1c47d8d8e0d6e12839a01/L/R/LRF0066OL11_CARRYFORWARD_swatch_1.jpg"
        alt=""
      />
    </div>

    <div class="c">
      <img src="/assets/img/Accessories.png" alt="" />
      <h3>Ashby Wax Jacket</h3>

      <img
        class="color-tag"
        src="https://www.barbour.com/media/catalog/product/cache/202dfe5190c1c47d8d8e0d6e12839a01/L/R/LRF0066NY72_SS25_swatch_1.jpg"
        alt=""
      />
      <img
        class="color-tag"
        src="https://www.barbour.com/media/catalog/product/cache/202dfe5190c1c47d8d8e0d6e12839a01/L/R/LRF0066OL11_CARRYFORWARD_swatch_1.jpg"
        alt=""
      />
    </div>

    <div class="d">
      <img src="/assets/img/girl.png" alt="" />
      <h3>Wilton Welington's</h3>

      <img
        class="color-tag"
        src="https://www.barbour.com/media/catalog/product/cache/202dfe5190c1c47d8d8e0d6e12839a01/L/R/LRF0066NY11_SS23_swatch_1.jpg"
        alt=""
      />
      <img
        class="color-tag"
        src="https://www.barbour.com/media/catalog/product/cache/202dfe5190c1c47d8d8e0d6e12839a01/L/R/LRF0066GN22_SS25_swatch_1.jpg"
        alt=""
      />
      <img
        class="color-tag"
        src="https://www.barbour.com/media/catalog/product/cache/202dfe5190c1c47d8d8e0d6e12839a01/L/R/LRF0066NY72_SS25_swatch_1.jpg"
        alt=""
      />
      <img
        class="color-tag"
        src="https://www.barbour.com/media/catalog/product/cache/202dfe5190c1c47d8d8e0d6e12839a01/L/R/LRF0066OL11_CARRYFORWARD_swatch_1.jpg"
        alt=""
      />
    </div>
  </div>

  <div class="big-pic-section">
    <div class="big-pic">
      <img src="/assets/img/polo.webp" alt="" />
      <div class="big-pic-text">
        <h2>Barbour Way of Life</h2>
        <p>
          Discover more about the Barbour Way of life and get inspired to make
          the most of life's simple pleasures, and the great outdoors.
        </p>
        <button class="big-pic-button">VIEW ALL</button>
      </div>
    </div>
  </div>

  <div class="wax-blog">
    <div class="wax-text">
      <div class="wax-heading">Wax For Life</div>

      <p class="pic-text-paragraph">
        When you buy a Barbour, you’re investing in a companion for life.
        Something to be passed down the generations, picking up patches and
        stories as it goes. When it’s time for a re-wax, you can use one of our
        home care kits, or send it to be lovingly restored by out craftspeople
        in South Shields.
      </p>

      <button class="pic-text-button">DISCOVER MORE</button>
    </div>

    <div class="wax-pic">
      <img src="/assets/img/cap.png" alt="" />
    </div>
  </div>
</body>
