<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Barbour</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="header">
      <div class="navbar">
        <div class="logo">
          <img src="/assets/img/new_logo.png" alt="Barbour Logo" />
        </div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="/cart">Cart (<%= cartCount %>)</a></li>
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </div>
    </div>
    <main>
      <% if (success && success.length > 0) { %> <% success.forEach(msg => { %>
      <div class="alert success"><%= msg %></div>
      <% }) %> <% } %> <% if (danger && danger.length > 0) { %> <%
      danger.forEach(msg => { %>
      <div class="alert error"><%= msg %></div>
      <% }) %> <% } %> <%- body %>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>Subscribe</h4>
            <ul>
              <li>
                <a href="#"
                  >Find out first about what’s new, deals and promotions.</a
                >
              </li>
              <li><a href="/">Home</a></li>
              <li><a href="/products">Products</a></li>
              <li><a href="/contact-us">Contact Us</a></li>
              <li><a href="#">Footwear</a></li>
              <li>
                <a href="#">I consent to receiving updates from Barbour</a>
              </li>
            </ul>
            <img
              class="footer-img"
              src="https://www.barbour.com/static/version1740559557/frontend/Barbour/default/en_GB/images/barb-logo-footer.svg"
              alt="Barbour Footer Logo"
            />
            <img
              class="footer-img"
              src="https://www.barbour.com/static/version1740559557/frontend/Barbour/default/en_GB/images/barb-int-logo-footer.svg"
              alt="Barbour International Footer Logo"
            />
          </div>
          <div class="footer-col">
            <h4>About Us</h4>
            <ul>
              <li><a href="#">Corporate Responsibility</a></li>
              <li><a href="#">Our Heritage</a></li>
              <li><a href="#">Counterfeit Education</a></li>
              <li><a href="#">Press Area</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Customer Service</h4>
            <ul>
              <li><a href="#">Find a Stockist</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">Repair & Re-wax</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Follow Us</h4>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
